<div class="register-container">
  <div class="register-box">
    <h2>RPTunas</h2>
    <p>Criação de Conta</p>

    <input type="text" [(ngModel)]="nome" placeholder="Nome">
    <input type="email" [(ngModel)]="email" placeholder="Email">
    <input type="password" [(ngModel)]="senha" placeholder="Senha">
    <input type="password" placeholder="Confirmar Senha">

    <button (click)="register()">Cadastrar</button>

    <p class="login-text">
      Já tem uma conta?
      <span (click)="goToLogin()">Entrar</span>
    </p>
  </div>
</div>